.main-container {
    .image-cont {
        margin-top: 20px;
    }
    .file-name {
        margin-top: 20px;
    }
    .test-1 {
        width: 600px;
        font-size: 20px;
        border: 1px solid black;
    }
    .test-2 {
        width: 400px;
        border: 1px solid black;
    }
}